{% extends "base.html" %}

{% block title %}{{ project.title }} - Portfolio{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <!-- Project Header -->
    <div class="mb-12">
        <h1 class="text-4xl font-bold text-gray-900 mb-4">{{ project.title }}</h1>
        <div class="flex flex-wrap gap-2">
            {% for tech in project.technologies %}
            <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full text-sm">{{ tech }}</span>
            {% endfor %}
        </div>
    </div>

    <!-- Project Image and Content -->
    <div class="flex flex-col md:flex-row gap-8 mb-12">
        <div class="md:w-1/3">
            <img src="{{ url_for('static', filename='images/project5.JPG') }}" alt="HouseBot" class="w-full h-auto rounded-lg shadow-lg">
        </div>
        <div class="md:w-2/3 prose">
            <p>Developed an automated apartment hunting assistant that monitors a housing website and notifies users through Discord. A small, simple project made in two afternoons. <br><br></p>
            
            <h2 class="font-bold underline">Key Features</h2>
            <ul class="list-disc pl-5">
                <li>Automated web scraping of a housing website</li>
                <li>Real-time Discord notifications</li>
                <li>Customizable search criteria</li>
            </ul>
            
            <h2 class="font-bold underline"><br>Technical Details</h2>
            <p>The project utilized Python for web scraping and API integration with Discord. It checks a site for new apartment listings and if there are new ones it sends a message with the relevant information in a discord server.</p>
        </div>
    </div>

    {% if project.links %}
    <div class="mt-8">
        {% if project.links.thesis %}
        <p>You can find the complete thesis and documentation here:</p>
        <a href="{{ project.links.thesis }}" target="_blank" class="text-green-600 hover:text-green-800">View on Diva →</a>
        {% endif %}
        {% if project.links.pdf %}
        <p>You can also download the thesis PDF here:</p>
        <a href="{{ url_for('static', filename=project.links.pdf) }}" target="_blank" class="text-green-600 hover:text-green-800">Download PDF →</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %} 